<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">

    <target xsi:type="Console" name="consolelog">
      <layout xsi:type="JsonLayout">
        <attribute name="thread" layout="${threadid}" />
        <attribute name="steps" layout="${event-properties:steps}" encode="false" />
        <attribute name="entryDate" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="Message" layout="${message}" encode="false" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Information" writeTo="consolelog" />
  </rules>

</nlog>